* {
    box-sizing: border-box;
    position: relative;
    font-family: sans-serif;
}
.App {
    width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: #e2d9e2aa;
    padding: 10px;
}